section.section.advantages
  .site-container
    .advantages__inner
      h2.advantages__title.title Преимущества рассрочки:
      ul.advantages__list
        li.advantages__list-item Получите желаемое сейчас, а оплачивайте потом
        li.advantages__list-item Не упустите скидки, даже если под рукой нет нужной суммы
        li.advantages__list-item Платите частями без комиссий и процентов
