section.section.banner
  .site-container
    .banner__inner
      .banner__info
        h1.banner__info-title Зимой одеваемся с Халвой
        img.banner__info-img-modile(src="assets/images/cards.png")
        p.banner__info-text +3 месяца рассрочки на одежду и обувь по промокоду #[span ZIMA2025]
        a.btn(href='#') Как это работает?
      img.banner__img(src="assets/images/cards.png")
