section.section.sales
  .site-container
    .sales__title.title Зимние распродажи в самом разгаре — порадуйте близких новыми образами!
    .sales__text
      | Чтобы снизить нагрузку на семейный бюджет, до 26 января дарим 3 дополнительных месяца рассрочки на покупку заёмными средствами Халвы в любых магазинах одежды и обуви по промокоду: #[span(class='sales__text-promo') ZIMA2025]
    .sales__contain
      .sales__items
        .sales__items-container
          a.sales__item(href='https://www.lamoda.ru/p/mp002xw0ernl/accs-volcante-shapka/ ')
            img.sales__item-img(src='assets/images/product-1.png' alt='product-1')
          a.sales__item(href='https://www.lamoda.ru/p/mp002xw0ati8/clothes-karmelstyle-pukhovik/')
            img.sales__item-img(src='assets/images/product-2.png' alt='product-2')
          a.sales__item(href='https://www.lamoda.ru/p/mp002xw0rnha/shoes-tervolina-krossovki/')
            img.sales__item-img(src='assets/images/product-3.png' alt='product-3')
      .sales__info
        .sales__price
          .sales__price-promo Стоимость образа с Халвой и промокодом — от 3 357,6 ₽ 6 мес.*
          .sales__price-total Полная стоимость — 20 146 ₽2
        .sales__note
          | *Промокод ZIMA2025 увеличивает стандартный срок рассрочки у партнёров на 3 месяца (в том числе и при подключенной подписке «Халва.Десятка»). Не у партнёров рассрочка по промокоду составит 5 месяцев (без подключенной подписки «Халва.Десятка»).
        a.btn.sales__btn(href='https://halvacard.ru/shops/odezhda') Посмотреть партнёров

