header.header
  .site-container
    .header__inner
      a.logo(href="#")
        img.logo__img(src="assets/images/logo.png" alt='Халва')
      .header__theme
        +icon-mono('moon')(class='header__theme-icon' width='20px' height='20px')
