header.header
  .site-container
    .header__inner
      +logo
      .header__theme
        +icon-mono('moon')(class='header__theme-icon header__theme-icon--moon' width='20px' height='20px')
        +icon-mono('sun')(class='header__theme-icon header__theme-icon--sun' width='20px' height='20px')
