.banner {
  min-height: 20rem;
  width: 100%;
  border-radius: 1rem;
  display: flex;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background: linear-gradient(90deg,#374471,#307c9d,#5eb2b5);
    background-color: #F9E6CF;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 30px;
  }

  &__info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  &__info-title {
    font-size: 4.8rem;
    font-weight: 600;
    margin-bottom: 1.2rem;

    @include mq(md) {
      font-size: 4.2rem;
    }

    @include mq(sm) {
      font-size: 3.2rem;
    }

    @include mq(custom, max, 640) {
      margin-bottom: 0;
    }
  }

  &__info-img-modile {
    position: relative;
    display: none;
    top: -6rem;
    opacity: 0;

    @include mq(custom, max, 640) {
      display: block;
      width: 25rem;
      height: 25rem;
      margin: 0 auto;
    }
  }

  &__info-text {
    font-size: 1.8rem;
    margin-bottom: 3rem;

    span {
      font-weight: 500;
    }

    @include mq(md) {
      font-size: 1.6rem;
    }
  }

  &__img {
    position: relative;
    top: -6rem;
    opacity: 0;
    width: 35rem;
    height: 35rem;

    @include mq(md) {
      width: 30rem;
      height: 30rem;
    }

    @include mq(sm) {
      width: 25rem;
      height: 25rem;
    }

    @include mq(custom, max, 640) {
      display: none;
    }
  }
}
